@keyframes rotate{
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(360deg);
  }
}
@keyframes clipRoll{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes clipRollB{
  0% {
    transform: rotate(0deg) translate(-50%,-50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%,-50%);
  }
}

.bg {
    height:100vh;
    width:100%;
    overflow: hidden;
    background: linear-gradient(45deg,rgb(26, 181, 122),rgb(195, 241, 67));
    // overflow: scroll;
    .myWorld {
      width:100%;
      height:100%;
      perspective: 20rem;
      -webkit-perspective: 20rem;
      perspective-origin: 50% 50%;
      -webkit-perspective-origin: 50% 50%;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
      .worldInner {
        position: absolute;
        width:300%;
        height:150%;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        backface-visibility: visible;
        -webkit-backface-visibility: visible;
        .innerBox {
          width:100%;
          height:300vh;
          padding:2rem 0;
          background: ~'url(./bg.png)' left top/0.2rem 0.2rem repeat;//
          transition: 0.1s;
          transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
          transition-timing-function: ease;
          .boxAll {
            height:100%;
            width:100%;
            font-weight:500;
            text-align: center;
            transform: rotateX(20deg);
            position: relative;
            transform-origin: 50% 50% 0;
            -webkit-transform-origin: 50% 50% 0;
            transform: translateZ(1rem);
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            h3 {
              font-size:0.6rem;
              line-height: 60vh;
              margin-top:40vh;
              color:#fff;
              text-shadow: 1px 2px 8px #000;
              margin:0;
            }
            .allPart {
              position: absolute;
              left:50%;
              transform: translateX(-50%);
              width:8rem;
              height:80%;
              line-height: 3;
              .partItem {
                display: flex;
                flex-direction: column;
                .itemCont {
                  .itemImg {
                    cursor: pointer;
                    width:3rem;
                    height:3rem;
                    border-radius: 50%;
                    padding:0.3rem;
                    transition:0.5s;
                    position: relative;
                    &::after {
                      position: absolute;
                      content:'';
                      width:100%;
                      height:100%;
                      border:0.02rem solid rgba(17, 53, 168, 0.6);
                      left:0;
                      top:0;
                      border-radius: 50%;
                      clip-path: inset(5% 20% 15% 10%);
                      animation: clipRoll 20s linear infinite;
                    }
                    img {
                      width:100%;
                      height:100%;
                      border-radius: 50%;
                      transition:0.5s;
                    }
                    &:hover {
                      // border:0.04rem solid rgba(250,250,250,.3);
                      img {
                        transform: scale(1.1);
                      }
                    }
                  }
                  
                  h4 {
                    // margin-top:-1rem;
                  }
                  &:nth-of-type(even){
                    align-self:flex-start;
                  }
                  &:nth-of-type(odd){
                    align-self:flex-end;
                  }
                }
              }
            }
          }
        }
      }
    }
    // .effect{
    //     position: absolute;
    //     width:100%;
    //     height:200px;
    //     bottom:0;
    //     left:0;
    //     -webkit-filter:contrast(10);
    //     background:#bcbcbc;
    //   }
    //   .blackball{
    //     width:100px;
    //     height:100px;
    //     position: absolute;
    //     top:50%;
    //     left:50%;
    //     transform: translate(-50%,-50%);
    //     background:black;
    //     padding:10px;
    //     border-radius:50%;
    //     margin:0 auto;
    //     z-index:1;
    //     filter:blur(5px);
    //     -webkit-filter:blur(5px);
    //   }
    //   .redball{
    //     width:60px;
    //     height:60px;
    //     background:#f00;
    //     padding:10px;
    //     border-radius:50%;
    //     position:absolute;
    //     top:50%;
    //     left:50%;
    //     transform: translate(-50%,-50%);
    //     z-index:2;
    //     filter:blur(5px) ;
    //     -webkit-filter:blur(5px) ;
    //     -webkit-animation:rball 6s infinite;
    //   }
}