@height : 0.6rem;
.header {
    height:@height+0.4rem;
    padding:0.2rem @height + 0.2rem;
    display: flex;
    // position: fixed;
    justify-content:space-between;
    // top:0;
    // left:0;
    // width:100%;
    // z-index:999;
    :global(.ant-menu-horizontal) {
        border: none;
        background: transparent;
    }
    .logo {
        width:@height;
        height:@height;
        background: url('../assets/header/logo.png') left top/ @height @height no-repeat;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-image:url('../assets/header/logo_hover.png');
        }
    }
    @keyframes slidein {
        0% {
            transform: rotateY(0deg)
        }
        100% {
            transform: rotateY(360deg)
        }
    }
    .center {
        // flex:1;
        text-align: center;
        perspective: 201px;
        // perspective-origin: top center;
        .thressd {
            display: inline-block;
            position:relative;
            animation: slidein 15s linear infinite;
            transform-style: preserve-3d;
            transform-origin: center;
            background: transparent;
            span {
                display: inline-block;
                margin:0 0.1rem;
                line-height: @height;
                backface-visibility:hidden;
                transform:translateZ(0.05rem);
            }
            span:nth-of-type(2) {
                transform: translateZ(0.1rem)
            }
            span:nth-of-type(3) {
                transform: translateZ(0.2rem)
            }
            span:nth-of-type(4) {
                transform: translateZ(0.1rem)
            }
            .background {
                position: absolute;
                // border:1px solid #ccc;
                border-radius: 3px;
                height:@height;
                width:100%;
                left:0;
                top:0;
                backface-visibility:hidden;
                font-size:0.2rem;
                transform: translateZ(-0.01rem) rotateY(180deg);
                line-height:@height;
                text-align: center;
                letter-spacing: 2px;
            }
        }
        
    }
}
.fixedHeader {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}
:global(.ant-menu-submenu) > :global(.ant-menu) {
    // background: transparent;
    box-shadow: none;
    border:1px solid #fff;
    border-top:none;
    border-radius: 0 0 4px 4px;
}